doctype html
html
  head
    title Contacts
  body
    h1= title
    table
      tr
        th First Name
        th Last Name
        th Email
      each contact in data
        tr
          td= contact.properties.firstname
          td= contact.properties.lastname
          td= contact.properties.email
    a(href="/update-contact") Add a new contact

